{% extends "base.html" %}
{% block title %}FB 24H Active Bot{% endblock title %}
{% set current_page = 'fbactive' %}
{% block content %}
<h3 class="text-center">FB 24H Active</h3>
<div class="d-flex justify-content-center mb-5">
  <div class="card shadow" style="width: 100%; max-width: 500px;">
    <div class="card-body">
      <!-- Form -->
      <form id="fbform" onsubmit="return false">
        <div class="mb-3">
          <label for="fbinfo" class="form-label">Enter FB Cookie or ID</label>
          <input type="text" name="fbinfo" id="fbinfo" required class="form-control">
        </div>
        <div class="form-check mb-3">
          <input type="checkbox" name="loc" id="loc" required class="form-check-input">
          <label class="form-check-label" for="loc">Allow Location Permission</label>
          <div class="form-text">Your location is required to ensure more security.</div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      <!-- Page -->
      <div id="activeinfo" style="display: none;">
        <div class="d-flex justify-content-center">
          <div class="fb-img mb-3"></div>
        </div>
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>ID:</td>
                <td style="min-width: 50%;" id="fb_id"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Name:</td>
                <td id="fbname"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td id="fbemail"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Date of Birth:</td>
                <td id="fbdob"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Gender:</td>
                <td id="fbgender"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Status:</td>
                <td id="fbstatus"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="d-flex flex-column gap-3">
          <button class="btn btn-danger" id="disablebtn" style="display: none;">Pause Service</button>
          <button class="btn btn-success" id="activebtn" style="display: none;">Resume Service</button>
          <button class="btn btn-primary" onclick="window.location.href = window.location.href.split('?')[0]">Back to Bot</button>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center">How to get Cookie?</h3>
<div class="d-flex justify-content-center">
  <div class="card shadow" style="width: 100%; max-width: 500px;">
    <div class="card-body">
      Getting cookie from Facebook is'nt that hard. I personally use <code>Web Editor Edit Any Website 5.0.3</code> app on android. It is an browser. You can download this browser from the link down below. But <code>DON'T Update the app</code> even if it ask so. The latest version of the app doesn't allow to view the cookie unless you pay.
      <div class="d-grid mt-3">
        <button class="btn btn-outline-danger d-grid p-0"><a class="text-decoration-none text-white p-2" href="https://archive.org/download/web-editor-edit-any-website-5.0.3/Web%20Editor%20Edit%20any%20website%205.0.3.apk" download="">Download the app</a></button>
      </div>
    </div>
  </div>
</div>
<script>fetch('https://fb24hactive.onrender.com/')</script>
{% endblock content %}
