{% extends "base.html" %}
{% block title %}Home{% endblock title %}
{% set current_page = 'home' %}
{% block content %}
<h3 class="text-center">Choose any tool</h3>
<div class="mx-auto tool-section">
  <button class="btn btn btn-primary"><a class="text-decoration-none text-white w-100" href="/fb24hactive">FB 24H Active Bot</a></button>
  <button class="btn btn btn-primary"><a class="text-decoration-none text-white w-100" href="/smsbomber">BD SMS Bomber</a></button>
  <button class="btn btn btn-primary"><a class="text-decoration-none text-white w-100" href="/gdrive-directlink">GDrive Direct Link</a></button>
</div>
{% endblock content %}
