{% extends "base.html" %}
{% block title %}BD SMS Bomber{% endblock title %}
{% set current_page = 'smsbomber' %}
{% block content %}
<h3 class="text-center mb-3">BD SMS Bomber</h3>
<div class="d-flex justify-content-center mb-5" id="bomber">
  <div class="card shadow" style="width: 100%; max-width: 500px;">
    <div class="card-body">
      {% if not task_id %}
      <!-- Add Form -->
      <form id="addform" method="POST" onsubmit="return false;">
        <div class="mb-3">
          <label for="mob" class="form-label">Mobile No (+88)</label>
          <input type="tel" class="form-control" name="mob" id="mob" required="" maxlength="11" minlength="11">
        </div>
        <div class="mb-3">
          <label for="amount" class="form-label">SMS Amount</label>
          <input type="number" class="form-control" name="amount" id="amount" required="" min="1" max="300">
        </div>
        <div class="mb-3">
          <label for="unlimited" class="form-label">Mode</label>
          <select class="form-select" name="unlimited" id="unlimited">
            <option value="false" selected="">Powered Mode</option>
            <option value="true">Rapid Mode</option>
          </select>
          <div class="form-text" style="text-align: right;"><a type="button" class="text-decoration-none link-primary" data-bs-toggle="collapse" data-bs-target="#ywegrnyty">Learn More</a></div>
          <div class="collapse" id="ywegrnyty">
            <div class="card">
              <div class="card-body">
                Powered Mode gives priority to use More SMS API's. It uses all the available api to do the job while Rapid Mode give priority to SMS Amount. As a result, Rapid Mode sends more sms in the same time. But it uses less API's.
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      {% else %}
      <!-- Status Page -->
      <div id="statusform">
        <div class="table-responsive">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td>Mobile:</td>
                <td id="mob" style="min-width: 50%;"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Amount:</td>
                <td id="amount"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Mode:</td>
                <td id="mode"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Attempt:</td>
                <td id="attempt"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Sent:</td>
                <td id="sent"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Failed:</td>
                <td id="failed"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Running:</td>
                <td id="run"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Completed:</td>
                <td id="completed"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
              <tr>
                <td>Remaining:</td>
                <td id="remaining"><span class="spinner-border spinner-border-sm"></span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="progress mb-3">
          <div id="progress-bar" class="progress-bar progress-bar-striped progress-bar-animated" style="width: 0%">0%</div>
        </div>
        <div class="d-flex flex-column gap-3">
          <button class="btn btn-danger" id="stopbtn">Stop Bombing</button>
          <button class="btn btn-primary" onclick="window.location.href = window.location.href.split('?')[0]">Back to Bomber</button>
        </div>
      </div>
      <script>const task_id = "{{ task_id }}"; $(window).on('load', function () {window.uid = setInterval(function () {loadTaskData()}, 1000)})</script>
      {% endif %}
    </div>
  </div>
</div>
<script>fetch('https://tzbomber.onrender.com/')</script>
{% endblock content %}
